.result-container {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.result-image {
  width: 60%;
  height: auto;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.compatibility-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.easy-to-get-along,
.difficult-to-get-along {
  width: 45%;
}

h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.compatibility-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.compatibility-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
}

.retake-test {
  font-size: 16px;
  color: #ffffff;
  background-color: #007bff;
  border-radius: 5px;
  padding: 10px 15px;
  text-decoration: none;
}

.retake-test:hover {
  background-color: #0056b3;
}


.credit {
  font-size: 12px;
  color: #888;
  margin-top: 20px;
}